= image_tag 'cooking.png', class: 'img-fluid'

.p-3.container
  %h3.mt-1
    お近くの人気セット
  %p.text-right
    = link_to "もっと見る >", menus_path
  // TODO: キョリと評価でソート
  - Menu.all.limit(4).order(:id).each do |menu|
    .row.py-1
      .col-12
        .card
          .d-flex.shadow-sm
            = image_tag menu.image.url, style: 'width: 45%;height: auto'
            .card-body
              %h5.card-title
                = menu.name
              %h6.card-subtitle.mb-2.text-muted
                = menu.description
              %p.card-text
                テスト
              = link_to "詳細を見る", menu_path(menu), class: 'btn btn-primary'

  %h3.mt-5
    お近くの新着セット
  %p.text-right
    = link_to "もっと見る >", menus_path
  // TODO: キョリと評価でソート
  - Menu.all.limit(4).order(:id).each do |menu|
    .row.py-1
      .col-12
        .card
          .d-flex.shadow-sm
            = image_tag menu.image.url, style: 'width: 45%;height: auto'
            .card-body
              %h5.card-title
                = menu.name
              %h6.card-subtitle.mb-2.text-muted
                = menu.description
              %p.card-text
                テスト
              = link_to "詳細を見る", menu_path(menu), class: 'btn btn-primary'

