!!!

= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'
= javascript_pack_tag 'application'

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CookpadInternship2020SummerPbl
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %nav.navbar.navbar-light.bg-light
      %a.navbar-brand{href: '/'}
        = image_tag "logo-black.png", width: "40px"
        NeighborFood
      %button.navbar-toggler.collapsed{"aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarSupportedContent", "data-toggle": "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "#"} メニューＡ
          %li.nav-item
            %a.nav-link{:href => "#"} メニューＢ
          %li.nav-item
            %a.nav-link{:href => "#"} メニューＣ
        %p.navbar-text.navbar-right
          ようこそ
          %a.navbar-link{:href => "#"} ゲスト
          さん。

    = yield
